<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713889504554-uj322qe5knbs1bpotj0jq0pjr1c3q6pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713889504554-uj322qe5knbs1bpotj0jq0pjr1c3q6pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713889504554-hja3akqt7bludpfsdvgldd7nsav2np9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZP4BB-B38OsTlo2c2YeAnsY-_vTRrhS8</string>
	<key>GCM_SENDER_ID</key>
	<string>713889504554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terrianfirefly</string>
	<key>PROJECT_ID</key>
	<string>terrianfirefly</string>
	<key>STORAGE_BUCKET</key>
	<string>terrianfirefly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713889504554:ios:84d3bc9598c03375069253</string>
	<key>DATABASE_URL</key>
	<string>https://terrianfirefly-default-rtdb.firebaseio.com</string>
</dict>
</plist>